body{
  background-image: url('Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
#form-container{
    width: 15cm;
    height: 13cm;
    border-radius: 25px;
    border: 5px solid rgb(218, 218, 4);
}
#form-container:hover{
    background-image: linear-gradient(to bottom right,white ,rgb(241, 241, 134));
}
#login{
    /* background-image: linear-gradient(to bottom right,rgba(255, 0, 21, 0.897) ,rgba(255, 0, 0, 0.795)); */
    background-color: rgb(238, 238, 149);
}
#login:hover{
    background-image: linear-gradient(to bottom right,white ,rgb(241, 241, 134));
}
.logincontainer.form-element{
    background-color: rgb(226, 222, 222);
    border-radius: 4px;
    border: 2px solid rgb(58, 58, 2);
    overflow:hidden
}
h1{
    color: Black;
    text-decoration: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
}
.form-table {
    border-collapse: separate;
  border-spacing: 0 10px;
            }
            ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    background: #111;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: rgb(241, 235, 235);
    color: #111;
  }
